@model Zadaca_4._1._vj.Models.Artikl
    <div class="borderDemo">
        <h3>@Model.Naziv</h3>
        Cijena: @Model.Cijena -> Količina: @Model.Kolicina
        <span>@Model.Kategorija</span>
    </div>
