@model string[]
@{
    ViewBag.Title = "ChildActionView";
}

<h2>ChildActionView</h2>

@foreach (var item in Model)
{
    @*@item <span>je</span> @Html.Action("OdrediGrupuProizvoda", "ChildAction")<br />*@
    @item <span>je</span> @Html.Action("OdrediGrupuProizvoda", new { proizvod=item })<br />
}