@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SpojPrekoWebKonfiga</title>
</head>
<body>
    <div>
        Spoj preko Web.config:<br />
        @Model
    </div>
</body>
</html>
