
@{
    ViewBag.Title = "PopuniOsobu";
}

<h2>PopuniOsobu</h2>

<div>
    <form>
        <div>
            <label>Ime:</label>
            <input type="text" name="Ime" value="" />
        </div>
        <div>
            <label>Prezime:</label>
            <input type="text" name="Prezime" value="" />
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="Email" value="" />
        </div>
        <div>
            <label>Datum rodjenja:</label>
            <input type="text" name="DatumRodjenja" value="" />
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
</div>